<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales">

	<!-- 총 거래수 -->
	<select id="getTotalCount" resultType="int">
		select COUNT(*) from sales
	</select>

	<!-- 관리자 판매 전체 목록 -->
	<select id="getAllSalesList" resultType="com.morning.domain.Sales">
		select * from sales	order by resdate desc
	</select>	
	
	<!-- 관리자 판매 진행 상태별 목록 -->
	<select id="getStSalesList" resultType="com.morning.domain.Sales">
		select * from sales	where st=#{st} order by resdate desc
	</select>

	<!-- 관리자 배송 상태별 목록 -->
	<select id="getDelstSalesList" resultType="com.morning.domain.Sales">
		select * from sales	where delstatus=#{delstatus} order by resdate desc
	</select>

	<!-- 상품별 판매 목록 -->
	<select id="getPnoSalesList" resultType="com.morning.domain.Sales">
		select * from sales	where pno=#{pno} order by resdate desc
	</select>

	<!-- 고객별 구매 목록 -->
	<select id="getSalesList" resultType="com.morning.domain.Sales">
		select * from sales where id=#{id} 
	</select>	
	
	<!-- 해당 구매 건별 구매 상세 내역 -->
	<select id="getSales" resultType="com.morning.domain.Sales">
		select * from sales where sno=#{sno}
	</select>
	
	<!-- 구매 처리 -->
	<insert id="insSales" parameterType="com.morning.domain.Sales">
		insert into sales values (default, #{pno}, #{amount}, #{tot},
		#{id}, #{paymethod}, #{paynum}, #{addr}, #{tel}, 
		#{delcom}, #{deltel}, #{delno}, #{delstatus}, #{st}, default, #{gtid}, #{rname})
	</insert>
	
	<!-- 배송지 변경 -->
	<update id="upSales" parameterType="com.morning.domain.Sales">
		update sales set rname=#{rname}, addr=#{addr}, tel=#{tel} where sno=#{sno}
	</update>
	
	<!-- 배송처리 -->
	<update id="upDelivery" parameterType="com.morning.domain.Sales">
		update sales set delcom=#{delcom}, deltel=#{deltel}, delstatus=#{delstatus}, st=#{st} where sno=#{sno}
	</update>
	
	<!-- 거래완료 -->
	<update id="completeDelivery" parameterType="com.morning.domain.Sales">
		update sales set delstatus=#{delstatus}, st=#{st} where sno=#{sno}
	</update>
	
	<!-- 결제 취소 -->
	<delete id="delSales">
		delete from sales where sno=#{sno}
	</delete>

</mapper>