@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

input, button {
	outline: none;
	border: none;	
}

body, html { 
	width: 100vw;
	font-family: "Noto Sans KR", sans-serif;
	overflow-x: hidden;
}

/*
font-family 적용 내용
font-family: "Raleway", sans-serif;
font-family: "Noto Serif KR", serif;
font-family: "Noto Sans KR", sans-serif;
font-family: "Nanum Pen Script", cursive;
font-family: "Nanum Gothic", sans-serif;
font-family: "Dorsa", sans-serif;
font-family: "Bai Jamjuree", sans-serif;
*/

.clr-fix {
	clear:both;
}

.clr-fix::after {
	content: "";
	display:block;
	width: 100%;
	clear:both;
}

#hd { border-bottom: 3px solid #369; }

.full-wrap, .ft-wrap, #hd, #ft, #contents {
	max-width:100vw;
	width: 100vw;	
}

.logo-wrap {
	width: 200px;
	height:auto;	
}

.logo {
	display:block;
	width: 200px;
	height: auto;
}

.page {
	clear:both;
	position: relative;
	width:100%;
	min-height: 80vh;
}

.page-wrap {
	width: 1280px;
	margin: 0px auto;
}

.page-title {
	text-align: center;
	font-size: 32px; 
	padding-top: 2em;
	padding-bottom: 0.8em;
}

#tb1 {
	clear:both;
	margin:0 auto;
	margin-top:20px; 
	width:1200px;
}

.table td, .table th {
	background-color:transparent;	
}

#tb1_length, #tb1_filter {
	margin-bottom:16px;
}

.table.dataTable.no-footer {
	clear:both;
	margin-top:16px;
}

#breadcrumb {
	height:60px;
	line-height:60px;
}

#page1 {
	background-color: #eee;
}

#ft {
	background-color:#222322;
}

#ft * {
	background-color:transparent;
}

#ft .footer {
	padding-top:3px; 
	padding-bottom:14px; 
}

#ft .footer {
	clear:both;
	padding-top:1em;
}

#ft .footer .menu li {
	float:left;
}

#ft .footer .menu li a {
	padding:0.8em 2.8em;
	font-size:1.2em;
	font-weight: 700;
	color:#fff;
}

#ft .footer .menu li a:hover {
	color:deepskyblue;
}

.copyright {
	font-size: 0.85em;
	color:#fff; 
	white-space:wrap;
	font-weight:400;
}

.copyright a {
	color:#369;
}

.ft_col {
	padding:0.2em 1.5em;
	display:block;
	float:left;
}

/* 태블릿 */
@media (max-width:960px) and (min-width:361px) {
	.full-wrap, .ft-wrap, #hd, #ft, #contents {
		max-width:100vw;
		width: 100vw;	
	}
	.page-wrap {
		width: 90vw;
		margin: 0px auto;
	}
	.footer.container {
		padding-left:1em;
		padding-right:1em;
	}
	.copyright {
		font-size: 0.85em;
		white-space:wrap;
		font-weight:300;
		padding:0;
		lin-height:1.6;
	}
	#ft .footer .menu li a {
		padding:0.5em 1em;
		font-weight: 600;
		font-size:1em;
	}
	.ft_col {
		padding:0.2em 1.2em;
	}
	
	.ft_col:nth-child(2n+1) {
		clear:both;
	}
	
}

/* 스마트폰 */
@media (max-width:360px) {
	.full-wrap, .ft-wrap, #hd, #ft, #contents {
		max-width:100vw;
		width: 100vw;	
	}
	.page-wrap {
		width: 90vw;
		margin: 0px auto;
	}
	.footer.container {
		padding-left:0.5em;
		padding-right:0.5em;
	}
	.copyright {
		font-size: 0.75em;
		white-space:wrap;
		font-weight:200;
		padding:0;
	}
	#ft .footer .menu li a {
		padding:0.5em 1em;
		font-weight: 500;
		font-size:0.8em;
	}
	.ft_col {
		padding:0.1em 0.8em;
	}
}